* {
    box-sizing: border-box;
}

h1 {
    text-align: center;
}

#tarolo {
    width: 75%;
    height: 600px;
    border: 1px solid black;
    margin: 20px auto 0;
    position: relative;
}


.kartyak {
    width: 250px;
    background-color: cornsilk;
    padding: 4px;
    box-shadow: 0 5px 8px gray;
    margin-bottom: 10px;
    position: absolute;
}
img {
    width: 100%;
    height: auto;
    padding: 3px;
    border: 1px solid brown;
    border-radius: 5px;
}

#k1 {
    top: 10%;
    left: 30%;
}

#k2 {
    bottom: 15%;
    left: 20%;
    
}

#k3 {
    top: 10%;
    right: 10%;
    
}

#k4 {
    top: 50%;
    right: 50%;
    
}

#k5 {
    top: 12%;
    left: 5%;
    
}

#k6 {
    top: 14%;
    left: 54%;
}
